@import 'https://fonts.googleapis.com/css?family=David+Libre';
@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';
@import 'https://fonts.googleapis.com/css?family=Tulpen+One';
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px) {
	#logo {
		width: 200px;
		/*height: 100px;*/
	}
}
/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {
	#logo {
		min-width: 300px;
		/*height: 100px;*/
	}
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
		
}
@media (min-width:1281px) {
 /* hi-res laptops and desktops */ 
}

#main {
	background-image: url('../img/Pizza-Wallpaper.jpg');
	background-size: cover;
}
#menu {
	/*background-image: url('../img/bg.jpeg');*/
	background-color: #562517;
	/*background-size: cover;*/
}
#nav h1 {
	color: #f2e3c6;
	font-size: 75px;
	font-family: 'Tulpen One', cursive;
	margin-left: 30px;
	margin-top: 0;
}
#subtitle {
	font-family: 'Fredericka the Great', cursive;
	color: #fff;
	text-align: center;
	font-size: 36px;
}
#title {
	font-family: 'Fredericka the Great', cursive;
	color: #fff;
	font-size: 80px;
	text-align: center !important;
}
#order {
	text-align: center;
	color: yellow;
	font-size: 18px;
	padding: 15px 32px;
}
#order a {
	border: 1px solid yellow;
	padding: 15px 32px;
	text-transform: uppercase;
	color: yellow;
	text-decoration: unset;
}
#order a:hover {
	background-color: #aa0005;
}
#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}